:root {
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-weights */
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;

    /* font color */
    --heading-color: rgb(146 151 172);
}

*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
    background-size: cover;
    background-position: bottom center;
    color: white;
}

.home { background-image: url(./assets/home/background-home-mobile.jpg); }
.destination { background-image: url(./assets/destination/background-destination-mobile.jpg); }
.crew { background-image: url(./assets/crew/background-crew-mobile.jpg); }
.technology { background-image: url(assets/technology/background-technology-mobile.jpg); }

header { z-index: 1000; }

.flex {
    display: flex;
}

.primary-nav {
    margin: 0;
    list-style: none;
    background: hsl(0 0% 0% / 0.8);
    font-family: var(--ff-sans-cond);
    letter-spacing: 2px;
}

@supports(backdrop-filter: none) {
    .primary-nav {
        backdrop-filter: blur(1rem);
        background: hsl(0 0% 30% / 0.1);
    }
}

#space-tourism-logo { cursor: pointer; }

.mobile-menu-toggle {display: none;}

.primary-nav a {
    text-decoration: none;
    color: white;
}

.primary-nav span {
    padding: 0 0.5rem;
    font-weight: var(--fw-bold);
}

.header-nav {
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 2rem 2rem;
}

.nav-item {
    text-transform: uppercase;
    margin-inline-end: 2rem;
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* home */

.home-section {
    font-family: var(--ff-sans-cond);
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.home-section h1{
    letter-spacing: 2px;
    font-size: var(--fs-700);
}

.home-section h1, h2, p { margin: 0; }

.home-section h1, h2 { text-transform: uppercase; }

.home-section h1, p {
    font-weight: var(--fw-regular);
    color: var(--heading-color);
}

.home-section p { font-family: var(--ff-sans-normal); }

.home-section h2 {
    font-family: var(--ff-serif);
    font-weight: var(--fw-regular);
    font-size: var(--fs-900);
}

.travel-section { width: min-content; }

.explore-btn {
    text-transform: uppercase;
    font-family: var(--ff-serif);
    font-size: var(--fs-700);
    color: black;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

/* destination */

    .destination-section {
    align-items: center;
    justify-content: center;
    font-family: var(--ff-sans-normal);
    gap: 3rem;
    padding: 1rem;
}

.destination-image-width { width: 100%; }

.selected-destination-details { width: min-content; }

.destination-image-section h1 {
    text-transform: uppercase;
    font-weight: var(--fw-regular);
    letter-spacing: 2px;
    font-size: var(--fs-700);
}

.destination-image-section h1 > span, #crew-header > span {
    font-weight: var(--fw-bold);
    color: var(--heading-color);
    padding-inline-end: 0.5rem;
}


.destination-list {
    list-style: none;
    font-family: var(--ff-sans-cond);
    gap: 2rem;
    padding: 0;
}

.selected-destination-title {
    height: 3px;
    box-shadow: 0 25px 0 0 #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 25px 0 0 #fff;
    -moz-box-shadow: 0 25px 0 0 #fff;
}

.destination-list > li {
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--heading-color);
    font-weight: var(--fw-bold);
    cursor: pointer;
}

.selected-destination h2 {
    font-family: var(--ff-serif);
    font-weight: var(--fw-regular);
    font-size: var(--fs-900);
}

#destination-paragraph { font-weight: var(--fw-bold); }

.destination-section-separator {
    border-bottom: 1px;
    margin-block: 2rem;
    width: 100%;
}

.selected-destination-info {
    text-transform: uppercase;
    gap: 1rem;
    font-family: var(--ff-serif);
}

.selected-destination-info p {
    font-family: var(--ff-sans-cond);
    letter-spacing: 1px;
}

.selected-destination-info h3 {
    margin: 0;
    font-size: var(--fs-700);
    font-weight: var(--fw-regular);
}

/* crew */
.crew-section {
    padding: 1rem 1rem;
    display: grid;
    place-content: center;
}

.crew-section h1, h2, h3 { margin: 0; }

.crew-info {
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    gap: 3rem;
}

.crew-info-headers {
    padding-block: 1rem;
}

#crew-header, .crew-info > h2, h3 {
    text-transform: uppercase;
}

#crew-member-name {
    font-family: var(--ff-serif);
    font-weight: var(--fw-regular);
    font-size: var(--fs-800);
}

#crew-designation {
    font-family: var(--ff-serif);
    font-weight: var(--fw-regular);
    font-size: var(--fs-700);
    color: var(--heading-color);
}

#crew-member-description {
    font-family: var(--ff-sans-normal);
    font-weight: var(--fw-semi-bold);
    width: 50ch;
}

.crew-data {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.crew-selector {
    display: flex;
    gap: 1em;
}

.crew-selector > button {
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    background-color: var(--heading-color);
    opacity: 0.5;
    cursor: pointer;
}

#selected-crew-member {
    background-color: white;
    opacity: 1;
}

/* technology */
.technology-section {
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.tech-btns {
    flex-direction: column;
    gap: 2em;
}

.tech-btns > button {
    border: 1px solid white;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    font-family: var(--ff-serif);
    font-size: var(--fs-700);
    font-weight: var(--fw-semi-bold);
    background: none;
    color: white;
}

.tech-btns > button:hover, #tech-active {
    border: none;
    color: black;
    background: white;
    cursor: pointer;
}
.tech-info {
    justify-content: center;
    gap: 3em;
}

.tech-section {
    overflow: hidden;
    display: grid;
    place-content: center;
}

.tech-section > h1 {
    font-family: var(--ff-sans-cond);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.tech-section > h1 span {
    font-family: var(--ff-sans-cond);
    color: var(--heading-color);
    padding-right: 0.5em;
}

.tech-info-data > p {
    max-width: 45ch;
    font-family: var(--ff-sans-normal);
    font-weight: var(--fw-semi-bold);
}

.tech-info-data h2 {
    font-family: var(--ff-sans-cond);
    letter-spacing: 2px;
    color: var(--heading-color);
    font-size: var(--fs-400);
}

.tech-info-data h3 {
    font-family: var(--ff-serif);
    font-size: var(--fs-800);
}

@media (max-width: 560px) {
    .primary-nav {
        position: fixed;
        flex-direction: column;
        inset: 0 0 0 40%;
        padding: min(20vh, 10rem) 2rem;
        gap: 2rem;
        transform: translateX(100%);
        transition: transform 250ms ease-in;
    }

    .primary-nav[data-visibility="true"] { 
        transform: translateX(0%);
    }

    .mobile-menu-toggle {
        position: absolute;
        display: block;
        top: 2.5rem;
        right: 2rem;
        z-index: 100;
        border: none;
        padding: 1rem;
        background: transparent;
        background-image: url(assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
    }

    .mobile-menu-toggle[aria-expanded="true"] { 
        background-image: url(assets/shared/icon-close.svg);
    }

    .home-section { padding-inline: 2rem; }

    .crew-info {
        flex-direction: column-reverse;
    }

    #crew-member-description { width: 40ch; }

    .crew-data {
        flex-flow: column-reverse;
        gap: 1rem;
    }
}

@media (min-width: 560px) and (max-width: 880px) {
    .primary-nav a > span { display: none; }

    .home-section { padding-inline: 8rem; }

    .crew-section { position: relative; }
}

@media (min-width: 560px) {
    .primary-nav {
        gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem, 10vw, 10rem);
    }
}

@media (max-width: 880px) {
    /* home */
    .home-section {
        flex-direction: column;
        justify-content: center;
    }

    .home-section h1{
        letter-spacing: none;
        font-size: initial;
    }

    .travel-section {
        text-align: center;
        padding-bottom: 3rem;
    }

    /* destination */
    .destination-section, .selected-destination-info {
        text-align: center;
        flex-direction: column;
    }

    .destination-list {
        justify-content: space-between;
    }

    /* crew */
    .crew-section {
        text-align: center;
        overflow: hidden;
    }

    .crew-info {
        flex-wrap: wrap;
        gap: 1rem;
    }

    #crew-member-image { width: 60%; }

    .crew-selector > button { padding: 0.4em; }

    #crew-designation {
        font-size: var(--fs-600);
    }

    #crew-member-name {
        font-size: var(--fs-700);
    }

    .crew-selector { justify-content: center; }

    /* technology */
    .technology-section {
        flex-direction: column-reverse;
    }

    .tech-btns {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .tech-info {
        flex-direction: column;
        padding-bottom: 2em;
    }

    .tech-section {
        left: 0;
        padding: 1em;
    }

    .tech-info-data h3 {
        font-size: var(--fs-700);
    }

    .tech-info-data { text-align: center; }

    #tech-image {
        width: auto;
    }
}

@media (min-width: 35rem) {
    .home {
        background-position: center center;
        background-image: url(./assets/home/background-home-tablet.jpg);
    }

    .destination {
        background-position: center center;
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }

    .crew {
        background-position: center center;
        background-image: url(./assets/crew/background-crew-tablet.jpg);
    }

    .technology {
        background-position: center center;
        background-image: url(./assets/technology/background-technology-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .home { background-image: url(./assets/home/background-home-desktop.jpg); }

    .destination { background-image: url(./assets/destination/background-destination-desktop.jpg); }

    .crew { background-image: url(./assets/crew/background-crew-desktop.jpg); }

    .technology { background-image: url(assets/technology/background-technology-desktop.jpg); }

    .destination-section { padding-inline: 5rem; }

    .selected-destination-info { gap: 3rem;}

    .current-location {
        height: 3px;
        box-shadow: 0 52px 0 0 #fff;
        border-radius: 10px;
        -webkit-box-shadow: 0 52px 0 0 #fff;
        -moz-box-shadow: 0 52px 0 0 #fff;
    }

    .crew-section { padding: 1.5rem 5rem 0; }

    .crew-info {
        flex-wrap: wrap;
    }
}

@media (max-width: 280px) {
    #crew-member-description { width: 28ch; }
}